<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-xs-6  col-md-4 " *ngFor="let film of films">
      <div class=" card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/{{film.episode_id}}.jpg" alt="Card image cap">  
        <div class="card-body">
           
            <app-film  class="card-title" [film]='film.url'> </app-film>
    
         
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Episodio {{film.episode_id}}</li>
          <li class="list-group-item"><a [routerLink]="['/personajes',film.url]" class="card-link">Personajes</a></li>
        </ul>
      </div>
    </div>
  

    
  </div>
</div>
